@use '@moon-ui/app-scss/metric' as *;

.dateSection {
  margin-bottom: $spacing-lg;
}

.iconEdit {
  margin-left: $spacing-sm;
}

.icon {
  margin-right: $spacing-sm;
}

.successIcon {
  margin-right: $spacing-xs;
}

.input {
  text-align: end;
  padding: $spacing-xs;
  width: 60px;
}

.editButton {
  align-items: center;
  display: flex;
  margin-left: $spacing-sm;
}

.editIcon {
  margin-right: $spacing-xs;
}

.highlight {
  border: 1px dashed var(--button-default-background);
}
