@use '@moon-ui/app-scss/metric' as *;
@use 'include-media/dist/include-media' as media;

.container {
  padding-bottom: 80px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 13px;

  padding: 0 12px;
}

.player {
  bottom: 0;
  position: fixed;
  width: 100%;

  @include media.media('<=tablet') {
    max-width: 600px;
  }
}

.hr {
  height: 2px !important;
}

.hrContainer {
  margin-bottom: 0 !important;
}

.card {
  width: 100%;
  padding-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.cardFooter {
  width: 100%;
  padding-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacing-sm;
}

.dashed {
  border-top: 2px dashed #b0b0b0;
  margin: 16px 0;
  height: 0;
  background: none;
}

.flipContainer {
  background: var(--card-background);
  overflow: hidden;
  min-height: 120px;
  width: 100%;
}

.flipper {
  // Spring animation is now handled by react-motion
  width: 100%;
}

.front {
  width: 100%;
  // min-height: 120px;
}

.taskListContainer {
  overflow: hidden;
  width: 100%;
  padding-bottom: 20px;
  padding-left: 12px;
  padding-right: 12px;
}
