@use '@moon-ui/app-scss/metric' as *;
@use 'include-media/dist/include-media' as media;

.cardContainer {
  margin: $spacing-sm;
  margin-bottom: 30px;
}

.hr {
  margin-bottom: $spacing-sm;
  height: 2px !important;
}
