@use '@moon-ui/app-scss/color' as *;
@use '@moon-ui/app-scss/metric' as *;

.addTaskButton {
  border: 2px dashed var(--button-pomodoro-select-task-border);
  color: var(--button-pomodoro-select-task-color);
}

.container {
  margin: 0 $spacing-xl;
  display: flex;
  flex-direction: column;
}

.task {
  background: var(--card-task-selected-task-background);
  padding: $spacing-xl;
  border-radius: 12px;
  margin-bottom: $spacing-sm;
  color: var(--card-task-selected-task-color);
  text-align: center;
}
