@use '@moon-ui/app-scss/color' as *;

.button {
  border-radius: 0;
}

.firstButton {
  border-radius: 5px 0 0 5px;
  border-width: 1px 0 1px 1px;
}

.lastButton {
  border-radius: 0 5px 5px 0;
}

.middleButton {
  border-width: 1px 0 1px 1px;
}

.active {
  border-color: var(--radio-color);
  border-width: 1px;
  color: var(--radio-color);
}

.leftActiveBorder {
  border-width: 1px 0px 1px 0px;
}

.rightActiveBorder {
  border-width: 1px 0 1px 0px;
}

.rightActiveAndLastBorder {
  border-width: 1px 1px 1px 0px;
}
