@use '@moon-ui/app-scss/metric' as *;

.container {
  position: relative;
}
.canvas {
  display: none;
  width: 100px;
  height: 100px;
}

.hidden {
  display: none;
}

.video {
  position: absolute;
  z-index: $video-z-index;
  width: 100px;
  height: 100px;
  top: -115px;
  left: -80px;
  border: 1px solid var(--card-border);
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
}
