@import '@moon-ui/app-scss/color';
@import '@moon-ui/app-scss/metric';
@import 'include-media/dist/include-media';

.container {
  align-items: center;
  position: relative;
  background: var(--card-background);
  box-shadow: 0 7px 18px var(--card-shadow);
  display: flex;
  height: 50px;
  justify-content: space-between;
  margin-bottom: 10px;
  z-index: 99;
}

.left {
  align-items: center;
  color: var(--header-logo-text);
  cursor: pointer;
  display: flex;
  margin-left: 25px;
  z-index: 1;
  @include media('<=tablet') {
    margin-left: 10px;
  }
}

.right {
  cursor: pointer;
  margin-right: 25px;
  z-index: 1;
  fill: var(--icon-color-inactive-invert);
  @include media('<=tablet') {
    margin-right: 10px;
  }
}

// .menu {
//   align-items: center;
//   color: var(--text-color);
//   display: flex;
//   height: 50px;
//   justify-content: center;
//   position: absolute;
//   text-align: center;
//   width: 100%;
// }
