@use '@moon-ui/app-scss/color' as *;
@use 'include-media/dist/include-media' as media;
@use '@moon-ui/app-scss/metric' as *;

.container {
  @include media.media('<=tablet') {
    margin-left: 12px;
    margin-right: 12px;
  }
}

.checklistItem {
  display: flex;
  border-bottom: 1px solid var(--card-border);
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.checklistItem {
  display: flex;
  border-bottom: 1px solid var(--card-border);
  align-items: center;
}

.lastChecklistItem {
  border-bottom: none;
}

.checkbox {
  height: 24px;
  width: 24px;
}

.title {
  flex: 1;
  margin-left: 6px;
}

.editIcon {
  margin-right: 8px;
  cursor: pointer;
  color: var(--text-color);
  opacity: 0.7;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 1;
  }
}

