@use 'include-media/dist/include-media' as media;

.container {
  padding-bottom: 80px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 13px;

  @include media.media('<=tablet') {
    padding: 0 12px;
  }
}

.player {
  bottom: 0;
  position: fixed;
  width: 100%;
  @include media.media('<=tablet') {
    max-width: 600px;
  }
}
