@use '@moon-ui/app-scss/metric' as *;

.container {
  display: flex;
  flex-direction: row;
  padding: $spacing-md;
}

.addNoteButton {
  // padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  // background: transparent;
}

.addIcon {
  // color: #fff;
  margin-right: $spacing-xs;
}
