@use '@moon-ui/app-scss/metric' as *;

.container {
  display: flex;
  flex-direction: row;
  padding: $spacing-md;
}

.addNoteButton {
  // padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(to right, #3b8fd6, #00b7d6);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease;

  &:hover {
    background: linear-gradient(to right, #00b7d6, #3b8fd6);
  }
}

.addIcon {
  color: #fff;
  margin-right: $spacing-xs;
}
