@use '@moon-ui/app-scss/metric' as *;

.container {
  margin: $spacing-sm;
}

.input {
  width: 100px;
  padding: 6px;
  text-align: end;
}

.submitBtn {
  margin-top: $spacing-lg;
}

.unit {
  width: 50px;
  margin-left: $spacing-sm;
}
