@use '@moon-ui/app-scss/color' as *;
@use '@moon-ui/app-scss/metric' as *;

.container {
  position: relative;
  border: 1px dashed var(--card-border);
  border-radius: 6px;
  padding: $spacing-sm;
}

.editIcon {
  position: absolute;
  right: $spacing-md;
  left: $spacing-md;
  z-index: 9999;
}

.saveButton {
  position: absolute;
  bottom: $spacing-md;
  right: $spacing-md;
  z-index: 9999;
}

.editor {
  // color: red;
  // background: red;
  padding-inline-end: 0;
  background-color: var(--card-background);
}
