@use '@moon-ui/app-scss/metric' as *;
@use '@moon-ui/app-scss/color' as *;

.container {
  margin-bottom: $spacing-md;
}

.groupControls {
  display: flex;
  align-items: center;
  gap: $spacing-sm;
}

.addButton {
  display: flex;
  align-items: center;
  gap: $spacing-xs;
  padding: $spacing-xs $spacing-sm;
  font-size: 14px;
  font-weight: 500;
}
