@use '@moon-ui/app-scss/function' as *;
@use '@moon-ui/app-scss/metric' as *;

.container {
  margin-bottom: $spacing-md;
}

.inputRow {
  display: flex;
}

.inputWrapper {
  color: var(--text-color);
  width: 100%;
}

.input {
  height: 48px;
  padding-left: 2.6em;
  font-size: toRem(14px);
  border-radius: 12px !important;
}

.placeholder {
  left: 2.6em;
  font-size: toRem(14px);
}

.addIcon {
  color: var(--almanac-accent, var(--icon-primary));
}
