@use 'include-media/dist/include-media' as media;

.container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
  @include media.media('<=tablet') {
    margin-left: 12px;
    margin-right: 12px;
  }
}

.player {
  display: flex;
  align-items: center;

}

.currentContainer {
  width: 95px;
  margin-left: 6px;
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  // background: linear-gradient(to right, #ff7e5f, #feb47b); // Gradient from pinkish to orange
  border: 1px solid #0d7dc2;
  // color: white;
  padding: 6px 12px;
  cursor: pointer;
}


.icon {
  cursor: pointer;
}
