@use '@moon-ui/app-scss/metric' as *;
@use '@moon-ui/app-scss/color' as *;
@use 'include-media/dist/include-media' as media;

.blurContainer {
  min-height: 100vh;
  min-height: fill-available;
  min-height: -webkit-fill-available;
  min-width: 100vw;
  background: var(--drawer-blur-background);
  position: fixed;
  visibility: hidden;
  // overflow: hidden;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: $drawer-z-index;
}

.visible {
  visibility: visible;
}

.container {
  background: var(--drawer-background);
  // left: 0;
  min-height: 100vh;
  min-height: fill-available;
  min-height: -webkit-fill-available;
  min-width: 100vw;
  // overflow: hidden;
  transform: translateY(0%);
  position: fixed;
  top: 100%;

  @include media.media('>=tablet') {
    left: unset;
    // max-width: 600px;
    min-width: 0;
    width: 100%;
  }
}
