@use '@moon-ui/app-scss/metric' as *;
@use '@moon-ui/app-scss/color' as *;

.customeFieldInput {
  height: 24px;
}

.title {
  padding: 0 $spacing-md;

}

.addFieldButtonContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 $spacing-md;
}
