@use '@moon-ui/app-scss/metric' as *;
@use '@moon-ui/app-scss/color' as *;

.customeFieldInput {
  height: 24px;
  width: 100px;
  padding: 2px $spacing-sm;
}

.title {
  padding: 0 $spacing-md;
}

.addFieldButtonContainer {
  // display: flex;
  // justify-content: flex-end;
  padding: 0 $spacing-md;
  margin-top: $spacing-md;
}

.customeFieldInput {
  padding: $spacing-xs $spacing-md;
}

.descriptionInput {
  margin: 0 $spacing-md;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-md;
}

.marginBottom {
  margin-bottom: $spacing-md;
}
