@use '@moon-ui/app-scss/color' as *;
@use '@moon-ui/app-scss/metric' as *;
@use '@moon-ui/app-scss/function' as *;

.footer {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0px $spacing-md;
  margin-bottom: $spacing-xl;
  justify-content: center;
}

.skipButton {
  margin-left: $spacing-md;
  background: var(--button-3d-skip-background);
  height: 44px;
  margin-bottom: 4px;
}

.icon {
  width: 30px;
  height: 30px;
  fill: var(--icon-primary);
}
