@use '@moon-ui/app-scss/color' as *;
@use '@moon-ui/app-scss/metric' as *;
@use 'include-media/dist/include-media' as media;

.container {
  align-items: center;
  // background: var(--card-background);
  display: flex;
  padding: $spacing-md;
  @include media.media('<=tablet') {
    padding: $spacing-sm $spacing-md;
  }
}

.body {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: $spacing-sm;
}
