@import 'include-media/dist/include-media';

.container {

  background: linear-gradient(to right, #3f87a6, #8f76ff);
  // border: 5px solid #0d7dc2;
  border-radius: 8px;
  padding: 12px;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  position: relative;
  margin-top: 12px;
  cursor: pointer;
  flex: 1;

  &:hover {
    transform: translateY(-5px);
  }

  @include media('<=tablet') {
    // margin-left: 12px;
    margin-right: 12px;
  }
}

.babyLogo {
  position: absolute;
  bottom: 1px;
  width: 30px;
  right: 3px;
}

.title {
  color: white;
  margin-bottom: 0;
  margin-top: 0;
}

.subtitle {
  color: white;
}
