@use '@moon-ui/app-scss/color' as *;
@use '@moon-ui/app-scss/metric' as *;
@use '@dreamer/tasks-page-common/src/index' as *;

.row {
  display: flex;
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.bar {
  width: 6px;
  margin: 10px 0;
  margin-left: 0px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-left: 6px;
}

.main {
  border-radius: 10px;
  padding: 10px 6px;
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
}

.actionGroup {
  display: flex;
}

.actionText {
  color: var(--current-task-item-action-text-color);
  margin-left: $spacing-xs;
}

.actionButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  background: var(--current-task-item-action-button-background);
  padding: 0 $spacing-md;
  border-radius: 6px;
}

.actionIcon {
  width: 16px;
  height: 16px;
  fill: var(--current-task-item-action-icon);
}

.more {
  margin-left: 6px;
}

.body {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.bodyProcessing {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}

.progress {
  background-color: var(--current-task-item-progress-color);
  height: 5px;
}

.do {
  background-color: $eisenhower-do;
}

.schedule {
  background-color: $eisenhower-schedule;
}

.delegate {
  background-color: $eisenhower-delegate;
}
.eliminate {
  background-color: $eisenhower-eliminate;
}

.dragIcon {
  cursor: -webkit-grabbing;
  fill: var(--current-task-drag-icon);
  height: 20px;
}

.section {
  display: flex;
  cursor: -webkit-grabbing;
}
