@use '@moon-ui/app-scss/metric' as *;
@use '@moon-ui/app-scss/color' as *;

.container {
  display: flex;
}

.body {
  display: flex;
  flex-direction: column;
  margin-left: $spacing-md;
}

.activeDay {
  color: var(--text-link);
}

.day {
  margin-right: $spacing-sm;
}

.dayContainer {
  display: flex;
}
