@use '@moon-ui/app-scss/color' as *;
@use '@moon-ui/app-scss/function' as *;
@use 'include-media/dist/include-media' as media;

.container {
  background: var(--card-background);
  border-radius: 10px;
  box-shadow: 0 7px 18px var(--card-shadow);
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  position: relative;
  @include media.media('<=tablet') {
    margin-top: 30px;
  }
}

.section {
  box-sizing: border-box;
  padding: 12px;
}

.header {
  align-items: center;
  background: var(--card-background);
  border-radius: 12px;
  box-shadow: 0 8px 25px var(--card-shadow);
  display: flex;
  left: 20px;
  padding: 6px 12px;
  position: absolute;
  top: -24px;
}

.input {
  border: 0;
  box-sizing: border-box;
  background: transparent;
  font-size: toRem(20px);
  min-height: 36px;
  resize: none;
  width: 100%;
  color: var(--text-color);

  &::placeholder{
    color: var(--text-placeholder-color);
  }

  &:focus {
    outline: none;
  }
}

.menu {
  height: 25px;
  margin-bottom: 20px;
}

.submitFooter {
  display: flex;
  justify-content: space-between;
  padding: 0 12px 16px;
}

.footer {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.dashed {
  border: 0;
  border-top: 3px dashed var(--create-task-dashed-border);
  height: 0;
  width: 100%;
}

.hiImg {
  height: 30px;
  margin-right: 12px;
  width: 30px;
}

.durationInput {
  border-radius: 6px;
  font-size: toRem(20px);
  margin-right: 6px;
  text-align: center;
  width: 60px;
  @include media.media('<=tablet') {
    width: 40px;
    font-size: toRem(16px);
  }

  &::placeholder {
    opacity: 0.3;
  }
}

.divider {
  border-top: 6px solid var(--background);
  width: 100%;
}

.recommend {
  background: var(--card-background);
  max-height: 800px;
  overflow: hidden;
  transition: max-height 0.5s ease-in;
}

.hiddenRecommend {
  background: var(--card-background);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.submitButton {
  width: 126px;
}
