@use '@moon-ui/app-scss/color' as *;
@use '@moon-ui/app-scss/metric' as *;
@use '@moon-ui/app-scss/function' as *;

.button {
  border: none;
  border-radius: 12px;
  background: var(--button-3d-background);
  padding: 0;
  width: 250px;
  cursor: pointer;
  outline-offset: 4px;
  height: 48px;
  &:active {
    transform: translateY(-2px);
  }
}
.activeButton {
  transform: translateY(-2px);
  background: rgba(254, 176, 0, 0.4);
}

.buttonText {
  display: block;
  padding: 12px 40px;
  border-radius: 12px;
  font-size: 1.25rem;
  font-weight: 500;
  background: var(--button-3d-text-background);
  color: var(--button-3d-text-color);
  transform: translateY(-6px);
  &:active {
    transform: translateY(-2px);
  }
}

.activeButtonText {
  background: var(--button-3d-active-button-text-color);
  color: white;
  transform: translateY(-2px);
}
