@use '@moon-ui/app-scss/color' as *;
@use '@moon-ui/app-scss/metric' as *;
@use '@moon-ui/app-scss/function' as *;

.container {
  background: var(--card-background);
  min-height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  box-shadow: 0 8px 25px var(--card-shadow);
  border: 1px solid var(--modal-from-bottom-border);
  z-index:  $modal-z-index;
  max-width: 600px;
}

.overlay {
  background: var(--modal-overlay-background);
  position: fixed;
  width: 100%;
  z-index: $modal-z-index;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.sheet {
  z-index: $modal-z-index;
  position: fixed;
  left: 2vw;
  height: calc(100vh + 100px);
  width: 96vw;
  border-radius: 12px 12px 0px;
  background: #fff;
  touch-action: none;
}

.overlayVisible {
  height: 100%;
  min-height: fill-available;
  min-height: -webkit-fill-available;
}

