@use '@moon-ui/app-scss/color' as *;
@use '@moon-ui/app-scss/metric' as *;
@use '@moon-ui/app-scss/function' as *;
@use 'include-media/dist/include-media' as media;

.container {
  padding: $spacing-md;
  display: flex;
  flex-direction: column;
  min-width: 350px;
  min-height: 180px;
  background: var(--card-background);
  box-shadow: 0 8px 25px var(--card-shadow);
  border-radius: 10px;
  @include media.media('<=tablet') {
    max-width: 600px;
  }
}

.title {
  text-align: center;
  margin-top: $spacing-lg;
}

.overlay {
  align-items: center;
  background: var(--modal-overlay-background);
  position: fixed;
  display: flex;
  height: 100%;
  justify-content: center;
  min-height: fill-available;
  min-height: -webkit-fill-available;
  width: 100%;
  z-index: $modal-z-index;
  left: 0;
  top: 0;
}
