@use '@moon-ui/app-scss/color' as *;
@use '@moon-ui/app-scss/function' as *;
@use 'include-media/dist/include-media' as media;

.durationInput {
  border-radius: 6px;
  font-size: toRem(20px);
  margin-right: 6px;
  text-align: center;
  width: 60px;
  @include media.media('<=tablet') {
    width: 40px;
    font-size: toRem(16px);
  }

  &::placeholder {
    opacity: 0.3;
  }
}

