@use '@moon-ui/app-scss/color' as *;
@use '@moon-ui/app-scss/metric' as *;
@use '@moon-ui/app-scss/function' as *;
@use 'include-media/dist/include-media' as media;

.selectorCard {
  background: transparent;
}

.selected {
  border: 1px solid var(--card-border);
  box-sizing: border-box;
  border-radius: 20px;
  margin-right: $spacing-md;
  padding: $spacing-xs $spacing-md;
  align-items: center;
  display: flex;
}

.closeIcon {
  margin-left: 8px;
  cursor: pointer;
  color: var(--color-text-secondary);
  transition: color 0.2s;

  &:hover {
    color: var(--color-text-primary);
  }
}

.resultInput {
  display: flex;
}

.closeIcon {
  margin-left: $spacing-xs;
}

.addCustomField {
  margin: $spacing-md;
  padding: $spacing-md;
  border: 3px dashed var(--create-task-dashed-border);
  border-radius: 6px;
}

.selector {
  padding: $spacing-xs $spacing-md;
}
