@use '@moon-ui/app-scss/metric' as *;

.container {
  position: relative;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: $spacing-xs;
}

.editButton {
  display: flex;
  align-items: center;
  gap: $spacing-xs;
  padding: $spacing-xs $spacing-sm;
}

.iconSuccess {
  position: absolute;
  right: -20px;
  bottom: -30px;
}

.emptyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-lg;
  flex-direction: column;
  text-align: center;
}

.iconEmpty {
  color: var(--icon-color-inactive-invert);
}

.itemEmptyContainer {
  position: absolute;
  opacity: 0.4;
}
