/* stylelint-disable max-nesting-depth */
@use '@moon-ui/app-scss/color' as *;
@use '@moon-ui/app-scss/metric' as *;

.container {
  // position: relative;
  border: 1px dashed var(--card-border);
  border-radius: 6px;
  padding: $spacing-sm;
  display: flex;
  justify-content: center;
  margin-left: 32px;
  position: relative;
}

.editIcon {
  position: absolute;
  right: $spacing-md;
  left: $spacing-md;
  z-index: 9999;
}

.saveButton {
  position: absolute;
  bottom: $spacing-md;
  right: $spacing-md;
  z-index: 9999;
}

.editor {
  // color: red;
  // background: red;
  padding-inline-end: 0;
  background-color: transparent;
}

.withoutBorder {
  border: 0;
}

.placeholder {
  position: absolute;
  top: $spacing-sm;
  left: $spacing-sm;
  color: var(--text-placeholder-color);
  pointer-events: none;
  z-index: 1;
  font-size: 14px;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-left: 8px;
}

.themeDark {
  // Dark theme specific styles
}

.themeLight {
  // Light theme specific styles
}
