@use '@moon-ui/app-scss/metric' as *;
@use '@moon-ui/app-scss/function' as *;

.item {
  margin-bottom: $spacing-md;
}

.durationInput {
  font-size: toRem(20px);
  width: 60px;
  margin-right: $spacing-sm;
}

.nameInput {
  font-size: toRem(20px);
  background: var(--input-background);
  color: var(--text-color);
  width: 100%;
  border: 0px;
  resize: none;
  &::placeholder{
    color: var(--text-placeholder-color);
  }
  &:focus {
    outline: none;
  }
}

.submitButton {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: $spacing-xl;
}

.eisenhowerMatrix {
  padding: 12px 0;
}
