@use '@moon-ui/app-scss/color' as *;
@use 'include-media/dist/include-media' as media;
@use '@moon-ui/app-scss/metric' as *;

.container {
  border: 1px solid var(--border-color);
}

.item {
  display: flex;
  align-items: center;
  padding: $spacing-xs $spacing-xs;
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: $spacing-xs;
}

.itemActive {
  background: var(--card-group-background);
  color: var(--text-title-primary-color);
}

.icon {
  margin-right: $spacing-sm;
}

.iconActive {
  color: var(--text-title-primary-color);
}

.tabContainer {
  display: flex;
  margin-bottom: $spacing-md;
}

.tabItem {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuButtonRotate {
  transform: rotate(90deg);
}
