@use '@moon-ui/app-scss/metric' as *;
@use 'include-media/dist/include-media' as media;

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-10px);
  }

  75% {
    transform: translateX(10px);
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
}

.input {
  width: 100px;
  padding: 6px;
  text-align: end;
  @include media.media('>=tablet') {
    width: 200px;
  }
}

.unit {
  width: 50px;
  margin-left: $spacing-sm;
}

.footerCenter {
  display: flex;
  justify-content: flex-end;
  margin-top: $spacing-lg;
}

.submitBtn {
  padding: 10px 12px;
  border-radius: 5px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(to right, #3b8fd6, #00b7d6);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease;

  &:hover {
    background: linear-gradient(to right, #00b7d6, #3b8fd6);
  }
}

.historyContainer {
  position: relative;
}

.historyBody {
  position: relative;
  overflow: hidden;
}

.iconSuccess {
  position: absolute;
  right: -20px;
  bottom: -30px;
}

.emptyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-lg;
  flex-direction: column;
  text-align: center;
}

.iconEmpty {
  color: var(--icon-color-inactive-invert);
}

.itemEmptyContainer {
  position: absolute;
  opacity: 0.4;
}

.sumValueText {
  margin-right: $spacing-xs;
}

.hr {
  height: 2px !important;
}
