@use '@moon-ui/app-scss/color' as *;
@use 'include-media/dist/include-media' as media;
@use '@moon-ui/app-scss/function' as *;

.label {
  font-size: toRem(20px);
  min-height: 36px;
  color: var(--text-color);
  margin-block: 0;
  margin-bottom: 6px;
  text-align: center;
}

.card {
  display: flex;
  margin-bottom: 12px;
  cursor: pointer;
}

.datePicker {
  font-size: toRem(22px);
  width: 250px;
  text-align: center;
}

.datePickerContainer {
  align-items: center;
  justify-content: center;
  flex: 1;
  display: flex;
}

.genderButton {
  width: 80px;
  height: 35px;
  padding: 0;
  margin-left: 6px;
}

.selectedButton {
  border: 1px dashed var(--button-default-background);
}

.footer {
  position: fixed;
  display: flex;
  bottom: 20px;
  left: 0;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
}

.footerCenter {
  display: flex;
  width: 100%;
  @include media.media('<=tablet') {
    max-width: 600px;
  }
}

.submitButton {
  padding: 10px 20px;
  border: 0;
  flex: 1;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease;

  &:hover {
    background: linear-gradient(to right, #feb47b, #ff7e5f);
  }
}

@include media.media('<=tablet') {
  // ... existing code ...
}
