@use '@moon-ui/app-scss/metric' as *;

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.title {
  text-align: center;
  margin: $spacing-md 0;
}

.card {
  display: flex;
  padding: $spacing-sm $spacing-md;
}

.body {
  display: flex;
  flex-direction: column;
}

.icon {
  margin-right: $spacing-md;
}
