@use '@moon-ui/app-scss/metric' as *;

.container {
  overflow: hidden;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-md $spacing-lg;
}

.background {
  top: -44px;
  width: 160px;
  height: 160px;
  right: -104px;
  opacity: 0.12;
  border-radius: 12px;
  position: absolute;
  transform: rotate(40deg);
}
