@use '@moon-ui/app-scss/function' as *;

.iconSearchInput {
  box-sizing: border-box;
  margin: 0 12px;
  flex: 1;
  font-size: toRem(16px);
  padding: 12px;
}

.container {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

.rightContainer {
  display: flex;
  align-items: center;
}

.searchButton {
  margin-right: 6px;
  border-radius: 6px;
  padding: 2px 6px;
  display: flex;
  align-items: center;
}

.divider {
  height: 20px;
  margin: 0 4px;
  width: 1px;
  background-color: var(--button-ghost-border);
}
