@use '@moon-ui/app-scss/metric' as *;
@use '@moon-ui/app-scss/color' as *;
@use '@moon-ui/app-scss/function' as *;

.iconSearchInput {
  border-radius: 100px;
  box-sizing: border-box;
  flex: 1;
  margin-right: $spacing-sm;
}

.searchInput {
  border-radius: 20px;
}

.inputContainer {
  display: flex;
  align-items: center;
  margin-left: 32px;
}

.container {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

.rightContainer {
  display: flex;
  align-items: center;
}

.colorView {
  width: 30px;
  height: 30px;
}

.searchButton {
  margin-right: 6px;
  border-radius: 6px;
  padding: 2px 6px;
  display: flex;
  align-items: center;
}

.divider {
  height: 20px;
  margin: 0 4px;
  width: 1px;
  background-color: var(--button-ghost-border);
}

.colorPicker {
  margin-top: $spacing-sm;
}

.searchIcon {
  margin-right: $spacing-xs;
  width: 16px;
  height: 16px;
  color: var(--text-placeholder-color);
}
