@use '@moon-ui/app-scss/metric' as *;
@use '@moon-ui/app-scss/color' as *;

.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.left {
  display: flex;
  align-items: center;
  flex: 1;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: $spacing-xs;
  margin-right: $spacing-xs;
}

.collapseIcon {
  cursor: pointer;
  transition: color 0.2s ease;
}

.iconGroup {
  display: flex;
}

.button {
  display: flex;
  align-items: center;
  padding: $spacing-xs $spacing-sm;
  padding-right: $spacing-md;
}

.buttonActive {
  border: 1px solid var(--button-default-background);
  background: var(--button-default-background);
  color: #fff;
}

.addIcon {
  margin-right: $spacing-xs;
}

.addIconActive {
  color: #fff;
}

.icon {
  margin-right: $spacing-sm;
}

.iconActive {
  color: var(--icon-primary);
}
