@use '@moon-ui/app-scss/metric' as *;

.section {
  box-sizing: border-box;
  margin-bottom: $spacing-lg;
}

.container {
  padding-bottom: 60px;
  user-select: none;
  -webkit-user-select: none;
}

.player {
  bottom: 0;
  position: fixed;
  width: 100%;
  max-width: 600px;
}
