@use '@moon-ui/app-scss/metric' as *;
@use 'include-media/dist/include-media' as media;

.section {
  box-sizing: border-box;
  margin-bottom: $spacing-lg;
}

.container {
  padding-bottom: 60px;
  user-select: none;
  user-select: none;
}

.player {
  bottom: 0;
  position: fixed;
  width: 100%;
  @include media.media('<=tablet') {
    max-width: 600px;
  }
}
