@use '@moon-ui/app-scss/color' as *;
@use '@moon-ui/app-scss/function' as *;

.container {
  align-items: stretch;
  background: var(--button-action-background);
  color: var(--button-action-color);
  display: flex;
  font-size: toRem(12px);
  font-weight: 500;
  padding: 2px 10px;
}

.success {
  background: var(--button-action-success);
}

.pending {
  background: var(--button-action-pending);
}

.processing {
  background: var(--button-action-processing);
}

.verticalLine {
  background: var(--button-action-vertical-line);
  margin: 4px 6px;
  width: 1px;
}

.body {
  align-items: center;
  display: flex;
  flex: 1;
}

.disabled {
  background: var(--button-disabled);
}
