@use '@moon-ui/app-scss/color' as *;
@use '@moon-ui/app-scss/function' as *;

.default {
  background: var(--button-default-background);
  border: 0;
  border-radius: 6px;
  color: var(--text-color-invert);
  font-size: toRem(14px);
  font-weight: 400;
  padding: 6px 20px;
  cursor: pointer;
}

.ghost {
  background: transparent;
  border: 1px solid var(--button-ghost-border);
  color: var(--button-ghost-color);
  padding: 0 4px;
  border-radius: 3px;
}

.sm {
  font-size: toRem(12px);
  padding: 4px 12px;
}

.lg {
  font-size: toRem(18px);
  padding: 10px 12px;
}

.md {
  font-size: toRem(14px);
  padding: 6px 20px;
}

.dash {
  border: 1px dashed var(--button-dash);
  background: transparent;
  color: var(--text-color);
}

.block {
  width: 100%;
  box-sizing: border-box;
}

.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
