@use '@moon-ui/app-scss/color' as *;
@use '@moon-ui/app-scss/metric' as *;

.container {
  display: flex;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 8px;
  flex: 1;
}

.button {
  padding: $spacing-xs $spacing-md;
  border-radius: 999px;
  align-items: center;
  display: flex;
  flex: 1;
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: $spacing-xs;
}

.activeIcon {
  fill: var(--icon-primary);
}

.activeButton {
  fill: var(--icon-primary);
  color: var(--button-multi-select-text-color);
  border-color: var(--button-multi-select-border-color);
  font-weight: 700;
}
