@use '@moon-ui/app-scss/metric' as *;
@use '@moon-ui/app-scss/color' as *;

.iconActive {
  color: var(--icon-primary);
  fill: var(--icon-primary);
}

.iconInactive {
  color: var(--icon-color-inactive-invert);
  fill: var(--icon-color-inactive-invert);
}

.drawer {
  z-index: $drawer-z-index-2;
}
