@use '@moon-ui/app-scss/metric' as *;
@use '@moon-ui/app-scss/function' as *;

.footer {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0px $spacing-md;
  margin-bottom: $spacing-xl;
  justify-content: center;
}
