@use '@moon-ui/app-scss/metric' as *;

.cardContainer {
  margin: $spacing-sm;
}

.settingRow {
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.settingRowCursor {
  cursor: pointer;
}

.settingRowHover {
  &:hover {
    background-color: var(--surface-secondary);
  }
}

.dangerRow {
  p {
    color: #ff4d4f;
  }
}
