$black: #000;
$black80: rgba($black, 0.8);
$black50: rgba($black, 0.5);
$black24: rgba($black, 0.24);
$black12: rgba($black, 0.12);
$black6: rgba($black, 0.06);
$black3: rgba($black, 0.03);

$white: #fff;
$white80: rgba($white, 0.8);
$white50: rgba($white, 0.50);
$white24: rgba($white, 0.24);
$white12: rgba($white, 0.12);
$white6: rgba($white, 0.06);


$primary: #0b7dc2;
$primary-dark: #334d6e;
$primary-extra-light: #ceedff;

$card-shadow: $black6;

$success: #219653;
$success-extra-light: #cdfee2;

$warning: #FEB000;

$secondary: #f2994a;
$secondary-extra-light: rgba($secondary, 0.4);

$background: #fafafa;
