@use '@moon-ui/app-scss/color' as *;
@use '@moon-ui/app-scss/function' as *;
@use 'include-media/dist/include-media' as media;

.selectWrapper {
  position: relative;
}

.selectLabel {
  display: block;
}

.selectElement {
  position: relative;
  // min-height: 40px;
  display: flex;
  align-items: center;
  border: 1px solid var(--card-border);
  border-radius: 4px;
  // background-color: white;
  cursor: pointer;
  user-select: none;

  &:hover {
    border-color: var(--card-border-hover);
  }

  &.open {
    border-color: var(--card-border-hover);
  }
}

.selectedValue {
  display: flex;
  align-items: center;
  min-height: 24px;
  padding: 8px 12px;
  flex: 1;
  overflow: scroll;
}

.optionsList {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 4px;
  max-height: 300px;
  overflow-y: auto;
  background-color: var(--card-background);
  border: 1px solid var(--card-border);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  &.optionsListAbove {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: 4px;
  }
}

.option {
  padding: 8px 12px;
  cursor: pointer;

  &:hover {
    background-color: var(--card-selected-background);
  }

  &.selected {
    background-color: #e6f3ff;
  }
}
