@use '@moon-ui/app-scss/color' as *;
@use '@moon-ui/app-scss/function' as *;
@use 'include-media/dist/include-media' as media;

.container {
  background: var(--card-background);
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 0 8px 25px var(--card-shadow);
  padding: 12px;
  display: flex;
  flex-direction: column;
  position: relative;

  // @include media.media('<=tablet') {
  //   margin-left: 12px;
  //   margin-right: 12px;
  // }
}
