@use '@moon-ui/app-scss/color' as *;
@use '@moon-ui/app-scss/metric' as *;

.container {
  background: #0093e9;
  background-image: linear-gradient(341.38deg,
  rgba(0, 147, 233, 0) -7.21%,
  #80d0c7 85.89%);
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.icon {
  fill: var(--icon-color-revert);
  margin: $spacing-md;
}

.headerBackground {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  height: 81vh;
  left: -80%;
  position: fixed;
  top: -50%;
  width: 260vw;
  overflow: hidden;
}

.christmasTree {
  height: 20vh
}

.imgContainer {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.text {
  color: var(--text-color-invert);
}

.time {
  color: var(--text-color-invert);
  flex: 0;
  margin-top: $spacing-xl;
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.footer {
  margin-bottom: $spacing-xl;
}
