// @import '@moon-ui/app-scss/color';
@use '@moon-ui/app-scss/metric' as *;

// should map constant.ts
$padding-slider: 10px;
$margin-container: $spacing-xl;
$slider-size: 70px;
$tray-height: 54px;

$tray_slider_with_spacing: calc($slider-size / 2) + $padding-slider;

.container {
  align-items: center;
  display: flex;
  margin: 0 $margin-container;
  position: relative;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
}

.tray {
  /* background-color: $white24; */
  background-image: linear-gradient(90deg, #FFF -57.39%, rgba(255, 255, 255, 0) 106.14%);
  border-radius: 27px;
  height: $tray-height;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}

.slider {
  align-items: center;
  // background-color: $white;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 40px;
  width: $slider-size;
  justify-content: center;
  margin-left: $padding-slider;
  position: absolute;
  cursor: pointer;

  z-index: 1;
  will-change: transform;
  touch-action: none; // prevent default behavior when swiping in mobile phone => the whole page is dragged with it

}

.slideBackAnimation {
  transition: transform 300ms ease;
  transition-delay: 100ms;
}

.trayActive {
  // background-color: $white24;
  height: $tray-height;
  transform-origin: left center;
  width: $tray_slider_with_spacing;
  -webkit-tap-highlight-color: transparent;

}

.text {
  // color: $white;
  position: absolute;
  text-align: center;
  cursor: default;
  width: 100%;
}

.trayActiveContainer {
  border-radius: 27px;
  height: 100%;
  overflow: hidden;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  z-index: 1;
}

.hidden {
  visibility: hidden;
}
