@use '@moon-ui/app-scss/metric' as *;

.footerContainer {
  margin-top: $spacing-lg;
  display: flex;
}

.button {
  flex: 1;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
}

.buttonLeaveIt {
  flex: 1;
  background: linear-gradient(to right, #000, #333);
}

.orText {
  margin: $spacing-sm;
}

.card {
  margin: $spacing-md;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.drawerContainer {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 4px 44px rgb(12 0 0 / 87%);
  border-radius: 20px 20px 0 0;
  text-align: center;
}
