@use '@moon-ui/app-scss/metric' as *;
@use '@moon-ui/app-scss/color' as *;
@use '@moon-ui/app-scss/function' as *;

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
}

.body {
  flex: 1;
  margin: 0 $spacing-md;
}

.footer {
  text-align: center;
  margin-bottom: $spacing-md;
  text-decoration: none;
}

.version {
  color: var(--text-description-color);
  cursor: pointer;
}

.link {
  color: var(--text-link);
  margin-left: $spacing-sm;
}

.durationInput {
  font-size: toRem(20px);
  margin-right: 6px;
  text-align: center;
  width: 60px;
  border-radius: 6px;

  &::placeholder {
    opacity: 0.3;
  }
}

.icon {
  fill: var(--icon-color-inactive-invert);
}
