@use '@moon-ui/app-scss/color' as *;
@use 'include-media/dist/include-media' as media;
@use '../../packages/moon-ui/app-scss/theme/light.scss' as *;
@use '../../packages/moon-ui/app-scss/theme/dark.scss' as *;

.container {
  align-items: center;
  background: var(--background);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;

  @include media.media('<=tablet') {
    max-width: 600px;
  }
}
