@use '@moon-ui/app-scss/metric' as *;

.recordSection {
  margin-bottom: $spacing-lg;
}

.hr {
  border-bottom: 4px dashed var(--hr-color);

  width: 100%;
  display: flex;
  flex: 1;
}

.hrSide {
  border-bottom: 4px dashed var(--hr-color);
  width: 20px;
}

.noHr {
  // border-bottom: 0;
}

.hrContainer {
  display: flex;
  // width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: -12px;
  margin-right: -12px;
}

.dateText {
  padding: 0 $spacing-sm;
  background: var(--card-background);
  border: 1px solid var(--card-border);
  border-radius: 34px;
  box-shadow: 0 7px 18px var(--card-shadow);
}

.deleteButton {
  align-items: center;
  display: flex;
  margin-left: $spacing-sm;
  border-radius: 16px;
}

.deleteIcon {
  margin-right: $spacing-xs;
}
