@use '@moon-ui/app-scss/metric' as *;
@use '@moon-ui/app-scss/color' as *;

.container {
  border-radius: 8px;
  color: var(--text-color);
  background: var(--input-background);
  border: 0;
  padding: $spacing-sm $spacing-md;
  font-size: 14px;

  &:focus {
    outline: none;
    border-color: var(--input-border-focus);
  }

  &::placeholder {
    color: var(--text-placeholder-color);
    opacity: 1;
  }
}

.dash {
  border: 1px dashed var(--input-border);
}

.solid {
  border: 1px solid var(--input-border);
}
