@use '@moon-ui/app-scss/color' as *;
@use '@moon-ui/app-scss/metric' as *;

.header {
  margin-left: $spacing-md;
}

.body {
  background-color: var(--card-background);
  box-shadow: 0 7px 18px var(--card-shadow);
  position: relative;
  width: 100%;
}

.empty {
  align-items: center;
  border: 1px dashed var(--current-list-task);
  border-radius: 6px;
  display: flex;
  height: 100px;
  justify-content: center;
  margin-left: $spacing-md;
  margin-right: $spacing-md;
}

.heading {
  align-items: center;
  display: flex;
  margin-bottom: $spacing-md;
}

.checkbox {
  margin-right: $spacing-xs;
}

.doneTaskText {
  margin-right: $spacing-md;
}
