@use '@moon-ui/app-scss/metric' as *;
@use '@moon-ui/app-scss/color' as *;

.customeFieldInput {
  height: 24px;
  width: 100px;
  padding: 2px $spacing-sm;
}

.title {
  padding: 0 $spacing-md;
}

.addFieldButtonContainer {
  margin-top: $spacing-lg;
}

.customeFieldInput {
  padding: $spacing-xs $spacing-md;
}

.descriptionInput {
  margin: 0 0 0 30px;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-md;
}

.itemMeta {
  align-items: flex-start;
}

.marginBottom {
  margin-bottom: $spacing-md;
}
