@use '@moon-ui/app-scss/color' as *;
@use 'include-media/dist/include-media' as media;
@use '@moon-ui/app-scss/metric' as *;

.container {
  // @include media.media('<=tablet') {
  //   margin-left: 12px;
  //   margin-right: 12px;
  // }
}

.checklistItem {
  display: flex;
  border-bottom: 1px solid var(--card-border);
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
}

.checklistItem {
  display: flex;
  border-bottom: 1px solid var(--card-border);
  align-items: center;
}

.lastChecklistItem {
  border-bottom: 0;
}

.checkbox {
  height: 24px;
  width: 24px;
}

.title {
  flex: 1;
  margin-left: 6px;
}

.editIcon {
  margin-right: 8px;
  cursor: pointer;
  color: var(--text-color);
  opacity: 0.7;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 1;
  }
}

.emptyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-lg;
  flex-direction: column;
  text-align: center;
}

.iconEmpty {
  color: var(--icon-color-inactive-invert);
  margin-bottom: $spacing-xs;
}

.addTaskButton {
  margin-top: $spacing-xs;
  padding: $spacing-xs $spacing-sm;
  border-radius: 18px;
}

.addTaskButtonBottom {
  box-sizing: border-box;
  padding: 0 !important;
  width: 100%;
  display: flex;
  align-items: center;
  padding: $spacing-sm $spacing-sm;
  justify-content: center;
  color: var(--text-description-color);
  cursor: pointer;

  &:hover {
    color: var(--icon-primary);
    border-color: var(--icon-primary);
  }

  &:hover .addIcon {
    color: var(--icon-primary);
  }
}

.addIcon {
  margin-right: $spacing-sm;
  color: var(--text-description-color);

  &:hover {
    color: var(--icon-primary);
  }
}
