@use '@moon-ui/app-scss/color' as *;
@use '@moon-ui/app-scss/function' as *;

.time {
  align-items: center;
  color: var(--text-color-invert);
  display: flex;
  font-size: toRem(100px);
  font-weight: bold;
  justify-content: center;
  text-align: center;
}

.key {
  width: toRem(65px)
}
