@use '@moon-ui/app-scss/color' as *;
@use '@moon-ui/app-scss/metric' as *;

.groupContainer {
  border: 2px dashed var(--card-border);
  border-radius: 6px;
  margin: $spacing-md;
  padding: $spacing-md;
  // margin-top: $spacing-sm;
  min-height: 100px; // Ensure it's droppable even when empty
  background-color: #f2f4ff;
  transition:
    background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}

.groupOver {
  background-color: #e6f7ff;
  border-color: #91d5ff;
}

.groupTitle {
  margin-bottom: $spacing-xs;
}
