@use '@moon-ui/app-scss/color' as *;
@use '@moon-ui/app-scss/metric' as *;

.groupContainer {
  border: 2px dashed var(--card-border);
  border-radius: 6px;
  margin: $spacing-md 0;
  padding: $spacing-md;
  // margin-top: $spacing-sm;
  min-height: 100px; // Ensure it's droppable even when empty
  background-color: var(--card-group-background);
  transition:
    background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}

.groupOver {
  background-color: #e6f7ff;
  border-color: #91d5ff;
}

.groupTitle {
  margin-bottom: $spacing-xs;
  align-items: center;
  justify-content: center;
  display: flex;
}

.drawerContainer {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 4px 44px rgb(12 0 0 / 87%);
  border-radius: 20px 20px 0 0;
  text-align: center;
}

.input {
  margin: $spacing-lg;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.button {
  margin: $spacing-lg;
}

.editIcon {
  margin-left: $spacing-xs;
}

.addNoteButton {
  margin-bottom: $spacing-md;
  width: 100%;
}
